html{
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-kr;
}

.fixed-social{
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
  padding: 0 80px;
  .fixed-social-list{
    .fixed-social-item{
      margin-top: 15px;
      a{
        img{}
      }
    }
  }
}

.section-img-box{
  position: relative;
  width: calc(100vw - 80px - calc((100vw * 0.334) / 2 - 80px));
  z-index: -1;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25vw;
    z-index: 1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.01) 95%);
    pointer-events: none;
  }
  img{
    width: 100%;
  }

}

.section-text-group{
  margin-top: -290px;
  padding-top: 90px;
  padding-bottom: 50px;
  z-index: 2;

  .section-inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(calc((100vw * 0.666) / 4) * 4);
    max-width: 1706px;
  }
    .title{
      font-family: $font-albra;
      font-size: 180px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.02em;
      margin-bottom: 30px;
    }
    .subtitle{
      font-size: 40px;
      font-weight: 500;
      letter-spacing: -0.04em;
      margin-bottom: 30px;
    }
    .description{
      width: auto;
      font-size: 16px;
      line-height: 1.78;
      letter-spacing: -0.04em;
    }
  

  .amount-price-group{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.04em;
    ul{
      li{
        display: flex;
        margin-bottom: 10px;
        font-family: $font-roboto;
        font-weight: 500;
        color: #666666;
        .amount{
          position: relative;
          padding-right: 16px;
          &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 12px;
            background-color: #eaeaea;
          }
        }
        .price{
          margin-left: 16px;
        }
      }
    }
  }
}

.sc-product-lineup{
  margin-bottom: 100px;
  .section-img-box{
    width: 100%;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .section-text-group{
    .section-inner{
      width: calc(calc((100vw * 0.666) / 4) * 4);
      max-width: 1706px;
      margin: 0 auto;
      .description{
        line-height: 1.78;
        letter-spacing: -0.04em;
        strong{
          display: block;
          font-weight: bolder;
        }
      }
    }
  }
}

.sc-products{
  margin-bottom: 200px;
  .products-wrapper{
    width: calc(calc((100vw * 0.666) / 4) * 4);
    max-width: 1706px;
    margin: 0 auto;
    .products-list{
      display: flex;
      flex-wrap: wrap;
      .products-item{
        width: calc(calc((100vw * 0.666) / 4) * 1);
        margin-bottom: 50px;
        transition: 0.3s opacity ease-in-out;
        &:hover .list-img-box{
          background-color: #efefef;
        }
        a{            
          .list-img-box{
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 144%;
            overflow: hidden;
            background-color: #f7f7f7;
            transition: 0.3s background-color ease-in-out;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 1.6s transform cubic-bezier(0.22, 1, 0.36, 1);
              transform-origin: 50% 65%;
            }
          }

          .item-info{
            display: flex;
            flex-direction: column;
            margin-top: 27px;
            padding-right: 30px;
            .item-line{
              font-family: $font-albra;
              font-size: 18px;
              color: #999999;
              letter-spacing: -0.02em;
              margin-bottom: 10px;
            }
            .item-desc{
              font-size: 18px;
              font-weight: bold;
              line-height: 1.444;
              letter-spacing: -0.04em;
            }
            .item-price{
              font-family: $font-roboto;
              margin-top: 15px;
              font-size: 16px;
              line-height: 1.78;
              letter-spacing: -0.04em;
            }
          }
        }
      }
    }
  }
}


// 화면 너비가 768px 미만일 때 스타일을 적용
@include small-mobile {
  /* 작은 모바일 디바이스 스타일 */
  .fixed-social{
    display: none;
    .fixed-social-list{
      .fixed-social-item{
        margin-top: 15px;
        a{
          img{}
        }
      }
    }
  }

  .section-img-box{
    width: calc(calc(100vw - 50px) + 25px);
    &::after{
      height: 120px;
    }
    img{
      width: 100%;

    }
  
  }

  .section-text-group{
    margin-top: -152px;
    .section-inner{
      width: calc(100vw - 50px);
    }
    .title{
      font-size: 66px;
    }
    .subtitle{
      font-size: 24px;
    }
    .description{
      padding-right: 30px;
      br{
        display: none;
      }
    }
  
    .amount-price-group{
      font-size: 16px;
      line-height: 1.62;
      ul{
        li{
          display: flex;
          margin-bottom: 10px;
          font-family: $font-roboto;
          font-weight: 500;
          color: #666666;
          .amount{
            &::after{
            }
          }
          .price{
          }
        }
      }
    }
  }

  .sc-product-lineup{
    margin-bottom: 100px;
    .section-img-box{
      width: 100%;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    .section-text-group{
      .section-inner{
        width: calc(100vw - 50px);
        max-width: 1706px;
        margin: 0 auto;
        .description{
          line-height: 1.78;
          letter-spacing: -0.04em;
          strong{
            display: block;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .sc-products{
    margin-bottom: 0;
    .products-wrapper{
      width: calc(100vw - 50px);
      .products-list{
        .products-item{
          width: calc(calc(100vw - 50px) * 0.5);
          margin-bottom: 100px;
          &:hover .list-img-box{
            background-color: #efefef;
          }
          a{            
            .list-img-box{
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 144%;
              overflow: hidden;
              background-color: #f7f7f7;
              transition: 0.3s background-color ease-in-out;
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.6s transform cubic-bezier(0.22, 1, 0.36, 1);
                transform-origin: 50% 65%;
              }
            }
  
            .item-info{
              margin-top: 27px;
              .item-line{
                font-size: 16px;
              }
              .item-desc{
                font-size: 16px;
                .item-size{
                  display: block;
                }
              }
              .item-price{
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.62;
              }
            }
          }
        }
      }
    }
  }
}

// 화면 너비가 769px 이상에서 1024px 미만일 때 스타일을 적용
@include medium-mobile {
  /* 중간 크기의 모바일 디바이스 스타일 */
  .fixed-social{
    bottom: 40px;
    padding: 0 40px;
    .fixed-social-list{
      .fixed-social-item{
        margin-top: 15px;
        a{
          img{}
        }
      }
    }
  }

  .section-img-box{
    width: calc(100vw - 60px - calc((100vw * 0.25) / 2 - 40px));
    &::after{
      height: 170px;
    }
    img{
      width: 100%;

    }
  
  }

  .section-text-group{
    margin-top: -220px;
    .section-inner{
      width: calc(calc((100vw * 0.75) / 2) * 2);
    }
    .title{
      font-size: 140px;
      margin-bottom: 30px;
    }
    .subtitle{
      font-size: 32px;
    }
    .description{
      font-size: 14px;
      padding-right: 30px;
      line-height: 1.76;
      br{
      }
    }
  
    .amount-price-group{
      font-size: 16px;
      line-height: 1.76;
      ul{
        li{
          display: flex;
          margin-bottom: 10px;
          font-family: $font-roboto;
          font-weight: 500;
          color: #666666;
          .amount{
            &::after{
            }
          }
          .price{
          }
        }
      }
    }
  }

  .sc-product-lineup{
    margin-bottom: 100px;
    .section-img-box{
      width: 100%;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    .section-text-group{
      .section-inner{
        width: calc(calc((100vw * 0.75) / 2) * 2);
        max-width: 1706px;
        margin: 0 auto;
        .description{
          line-height: 1.78;
          letter-spacing: -0.04em;
          strong{
            display: block;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .sc-products{
    margin-bottom: 200px;
    .products-wrapper{
      width: calc(calc((100vw * 0.75) / 2) * 2);
      .products-list{
        .products-item{
          width: calc(calc((100vw * 0.75) / 2) * 0.666);
          margin-bottom: 100px;
          &:hover .list-img-box{
            background-color: #efefef;
          }
          a{            
            .list-img-box{
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 144%;
              overflow: hidden;
              background-color: #f7f7f7;
              transition: 0.3s background-color ease-in-out;
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.6s transform cubic-bezier(0.22, 1, 0.36, 1);
                transform-origin: 50% 65%;
              }
            }
  
            .item-info{
              margin-top: 27px;
              .item-line{
                font-size: 16px;
              }
              .item-desc{
                font-size: 16px;
                .item-size{
                  display: block;
                }
              }
              .item-price{
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.62;
              }
            }
          }
        }
      }
    }
  }
}

// 화면 너비가 1025px 이상에서 1440px 미만일 때 스타일을 적용
@include desktop-low-res {
  /* 데스크탑 - 일반 해상도 스타일 */
  .fixed-social{
    bottom: 40px;
    padding: 0 60px;
    .fixed-social-list{
      .fixed-social-item{
        margin-top: 15px;
        a{
          img{}
        }
      }
    }
  }

  .section-img-box{
    width: calc(100vw - 60px - calc((100vw * 0.25) / 2 - 40px));
    &::after{
      height: 170px;
    }
    img{
      width: 100%;

    }
  
  }

  .section-text-group{
    margin-top: -220px;
    .section-inner{
      width: calc(calc((100vw * 0.75) / 2) * 2);
    }
    .title{
      font-size: 140px;
      margin-bottom: 30px;
    }
    .subtitle{
      font-size: 32px;
    }
    .description{
      font-size: 14px;
      padding-right: 30px;
      line-height: 1.76;
      br{
      }
    }
  
    .amount-price-group{
      font-size: 16px;
      line-height: 1.76;
      ul{
        li{
          display: flex;
          margin-bottom: 10px;
          font-family: $font-roboto;
          font-weight: 500;
          color: #666666;
          .amount{
            &::after{
            }
          }
          .price{
          }
        }
      }
    }
  }

  .sc-product-lineup{
    margin-bottom: 100px;
    .section-img-box{
      width: 100%;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    .section-text-group{
      .section-inner{
        width: calc(calc((100vw * 0.75) / 2) * 2);
        max-width: 1706px;
        margin: 0 auto;
        .description{
          line-height: 1.78;
          letter-spacing: -0.04em;
          strong{
            display: block;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .sc-products{
    margin-bottom: 200px;
    .products-wrapper{
      width: calc(calc((100vw * 0.7) / 2) * 2);
      .products-list{
        .products-item{
          width: calc(calc((100vw * 0.7) / 2) * 0.5);
          margin-bottom: 100px;
          &:hover .list-img-box{
            background-color: #efefef;
          }
          a{            
            .list-img-box{
              position: relative;
              width: 100%;
              height: 0;
              padding-bottom: 144%;
              overflow: hidden;
              background-color: #f7f7f7;
              transition: 0.3s background-color ease-in-out;
              img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.6s transform cubic-bezier(0.22, 1, 0.36, 1);
                transform-origin: 50% 65%;
              }
            }
  
            .item-info{
              margin-top: 27px;
              .item-line{
                font-size: 16px;
              }
              .item-desc{
                font-size: 16px;
                .item-size{
                  display: block;
                }
              }
              .item-price{
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.62;
              }
            }
          }
        }
      }
    }
  }
}

// 화면 너비가 1441px 이상에서 1920px 미만일 때 스타일을 적용
@include desktop-high-res{

}