// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Roboto', sans-serif;

$font-albra:"albra", sans-serif;
$font-kr:'Noto Sans KR', sans-serif;
$font-roboto: 'Roboto', sans-serif;


$small-mobile: 768px;
$medium-mobile: 1025px;
$desktop-low-res: 1025px;
$desktop-high-res: 1441px;
$desktop-extra-high-res: 1921px; // 예상치 않은 고해상도 디스플레이에 대한 범위